
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Prescription List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead class="thead-dark">  
        <tr>
          <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Dob</th>
        <th scope="col">Contact</th>
         
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of prescriptions | async; let i = index" style="cursor: pointer; "(click)="prescripDetails(p.id)"
          >   
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ getPatientName(p. regId) }}</td>
        <td>{{ getPatientDob(p.regId) | date:'dd.MM.yyyy' }}</td>
        <td>{{ getPatientContact(p.regId) }}</td>
          
          
        </tr>
       
        </tbody>
      </table>
      <hr>
    <button type="button" class="btn btn-primary mt-2" (click)="addprescription()"><i class="fas fa-plus"></i> New Report
    </button>
    <hr>
    </div>
    <form [formGroup]="searchForm" (ngSubmit)="OnSubmitNamedob(searchForm.value)">
      <input type="text" id="patientName" placeholder="Name" formControlName="patientName">
      <input type="text" id="dateBirth" placeholder="dd-mm-yy" formControlName="dateBirth">
      <button type="submit">Search</button>
    </form>
  </div>
  